@import "tailwindcss";

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueBlack.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueMedium.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueThin.otf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueBold.otf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "solare";
  src: url("./assets/fonts/SolareItalic-Fine.00db76d.woff2") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@theme {
  --font-helvetica: "Helvetica Neue", sans-serif;
  --font-solare: "solare", serif;
  --navMenu: #ece4d5;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  font-family: var(--font-helvetica);
  background-color: black;
}

/* Show hand cursor for all clickable elements */
button,
a,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
label {
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media not all and (min-width: 1601px) {
  html {
    font-size: 55%;
  }
}
@media not all and (min-width: 1367px) {
  html {
    font-size: 53%;
  }
}
@media not all and (min-width: 1201px) {
  html {
    font-size: 50%;
  }
}
@media not all and (min-width: 993px) {
  html {
    font-size: 58%;
  }
}
@media not all and (min-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media not all and (min-width: 641px) {
  html {
    font-size: 42%;
  }
}
@media not all and (min-width: 451px) {
  html {
    font-size: 40%;
  }
}
@media not all and (min-width: 361px) {
  html {
    font-size: 40%;
  }
}

@media not all and (min-width: 321px) {
  html {
    font-size: 40%;
  }
}
